{% extends "postings/base.html" %}

{% block content %}

{% load guardian_tags %}

<h2>{{ alert }}</h2>

<ul>
	<li>{{ alert.message|linebreaks }}</li>
	{% if alert.posted|timesince != alert.updated|timesince %}
		<li class="detail-alert">alert</li><li class="detail-byline">updated {{ alert.updated|timesince }} ago by <a href="{% url "user_detail" pk=alert.user.pk %}">{{ alert.user.get_full_name }}</a></li>
	{% else %}
		<li class="detail-alert">alert</li><li class="detail-byline">{{ alert.posted|timesince }} ago by <a href="{% url "user_detail" pk=alert.user.pk %}">{{ alert.user.get_full_name }}</a></li>
	{% endif %}
	{% get_obj_perms user for alert as "alert_perms" %} {# django-guardian #}
	{% if "delete_alert" in alert_perms %}
		<li class="reply-delete">
			<a class="action" href="{% url "update_alert" pk=alert.id %}">update</a>
			<a class="action" href="{% url "delete_alert" pk=alert.id %}">delete</a>
		</li>
	{% endif %}
</ul>

<h3>Comments</h3>

<form action="{% url "create_alert_comment" %}" method="POST">
	{% csrf_token %}
	<ul class="detail-textarea">
		{{ form.message }}
		{{ form.alert }}
	</ul>
	<input type="submit" value="Post" />
</form>

{% load mptt_tags %}
{% with comments=alert.alertcomment_set.all %}
<ul class="root">
    {% recursetree comments %}
        <li {% if node.is_child_node %}style="padding-left: 2.25em"{% endif %}>
            <ul>
            	{{ node.message|linebreaks }}
            	<li class="detail-byline">{{ node.posted|timesince }} ago by <a href="{% url "user_detail" pk=node.user.pk %}">{{ node.user.get_full_name }}</a></li>
            	<li class="reply-delete">
            		<a id="reply-{{ node.id }}" class="action reply-button" href="#" onclick="return false;">reply</a>
            		{% get_obj_perms user for node as "comment_perms" %} {# django-guardian #}
            		{% if "delete_alertcomment" in comment_perms %}
            			<a class="action" href="{% url "delete_alert_comment" pk=node.id %}">delete</a>
            		{% endif %}
            	</li>
            </ul>
			<form id="comment-{{ node.id }}" class="comment-reply" action="{% url "create_alert_comment" %}" method="POST">
				{% csrf_token %}
				<ul class="detail-textarea">
					{{ form.message }}
					{{ form.alert }} {# To allow for redirect #}
				</ul>
				{% if node.id %}    
					<input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" /> {# Used by CommentForm to set "parent" field #}
				{% endif %}
				<input type="submit" value="Post" />
				<a id="cancel-{{ node.id }}" class="action cancel-button" href="#" onclick="return false;">cancel</a>
			</form>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endwith %}

{% endblock %}
