{% extends "postings/base.html" %}

{% block content %}
{% load placeholder %}

{% if recent_alerts.count >= 2 %}
    <h2>You have already posted the maximum of two alerts in the last 24 hours.</h2>
{% else %}
    <h2>New alert</h2>

    <form action="{% url "create_alert" %}" method="POST">
        {% csrf_token %}
        <ul class="form_questions">
            {{ form.title.errors }}
            {{ form.title|placeholder:"Title" }}
            {{ form.message.errors }}
            {{ form.message|placeholder:"Message" }}
        </ul>
        <input type="submit" value="Post" />
        <a class="cancel-button" href="{% url "feed" %}">cancel</a>
    </form>
{% endif %}

{% endblock %}
