{% extends "postings/base.html" %}

{% block content %}

<h2>{{ posting }}</h2>

<ul>
	<li>{{ posting.message|linebreaks }}</li>
	<li class="detail-byline">posted to <span class="italic">{{ posting.get_variety_display }}</span> {{ posting.posted|timesince }} ago by {{ posting.user.get_full_name }}</li>
	<li class="reply-delete"><a class="action" href="{% url "delete_posting" pk=posting.id %}">delete</a></li>
</ul>

<h3>Comments</h3>

<form action="{% url "create_comment" %}" method="POST">
	{% csrf_token %}
	<ul>
		{{ form.message }}
		{{ form.posting }}
	</ul>
	<input type="submit" value="Post" />
</form>

{% load mptt_tags %}
{% with comments=posting.comment_set.all %}
<ul class="root">
    {% recursetree comments %}
        <li style="padding-left: {{ node.get_level }}em">
            <ul>
            	{{ node.message|linebreaks }}
            	<li class="detail-byline">posted {{ node.posted|timesince }} ago by {{ node.user.get_full_name }}</li>
            	<li class="reply-delete">
            		<a id="reply-{{ node.id }}" class="action reply-button" href="#" onclick="return false;">reply</a>
            		<a class="action" href="{% url "delete_comment" pk=node.id %}">delete</a>
            	</li>
            </ul>
			<form id="comment-{{ node.id }}" class="comment-reply" action="{% url "create_comment" %}" method="POST">
				{% csrf_token %}
				<ul>
					{{ form.message }}
					{{ form.posting }} {# To allow for redirect #}
				</ul>
				{% if node.id %}    
					<input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" /> {# Used by CommentForm to set "parent" field #}
				{% endif %}
				<input type="submit" value="Post" />
				<a id="cancel-{{ node.id }}" class="action cancel-button" href="#" onclick="return false;">cancel</a>
			</form>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endwith %}

{% endblock %}
