<h1>{{ posting }}</h1>

<p>{{ posting.message|linebreaks }}</p>

<ul>
  <li>{{ posting.user }}</li>
  <li>{{ posting.posted }}</li>
  <li>{{ posting.get_variety_display }}</li>
</ul>

<a href="{% url "delete" pk=posting.id %}">delete</a>

<h2>Comments</h2>

{% load mptt_tags %}
{% with posting.comment_set.all as comments %}
<ul class="root">
    {% recursetree comments %}
        <li>
            {{ node.message|linebreaks }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endwith %}
